html, body, #map { 
    height: 100%; 
}

#page_header {
    background-color: #0080ff;
    color: white;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%; 
}

#current_location {
    font-weight: bold;
    font-style: italic;
}
